.button {
  button {
    width: 100%;
    padding-block: 23px;
    border: none;
    color: var(--brand-black, #1c1c1c);
    font-family: Syne;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.91431rem;
    text-transform: uppercase;
    border-radius: 14.927px 1.493px;
    background: var(--brand-gold-light, #fff301);
    box-shadow: 0px 4.47817px 11.19543px 0px rgba(224, 167, 48, 0.3);
  }
}
