.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  h1 {
    color: var(--white, #fff);
    font-family: Syne;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
  }
  span {
    color: var(--brand-gold-light, #fff301);
    text-align: center;
    font-family: Syne;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
  }
  p {
    color: var(--white, #fff);
    text-align: center;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}
.content {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92px;
  height: 92px;
}
